p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
body,
ul,
li {
  margin: 0px;
  padding: 0px;

}


input:focus,
select:focus,
textarea:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}