.followContainer {
    width: 100%;
    background: var(--secondary-color-1, #23856D);
    padding: 9px 24px 3px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.followDetails {
    display: flex;
    gap: 10px;
}

.followDetails>div {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    gap: 5px;
    align-items: center;
}

.followDetails>div p,
.followContainer>p,
.followSocials>p {
    color: var(--light-text-color, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.followSocials {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.followSocials div {
    display: flex;
    gap: 5.5px;
}

.followSocials div a {
    padding: 5px;
    box-sizing: border-box;
}